{% extends 'base.html' %}
{% block content %}
            <nav>
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'teams' %}">Teams</a></li>
                    <li><a href="{% url 'matches' %}">Matches</a></li>
                    <li><a href="{% url 'players' %}">Players</a></li>
                    <li class="active"><a href="{% url 'ranking' %}">Rank list</a></li>
                 {% if user.is_authenticated %}
                 <li><a href="{% url 'logout' %}">Logout</a></li>
                 <li><a href="{% url 'my-profile' %}">My profile</a></li>

                 {% else %}
                 <li><a href="{% url 'login' %}">Login</a></li>
                 <li><a href="{% url 'register' %}">Register</a></li>
                 {% endif %}
                </ul>
            </nav>
            <hr>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, Guest. Please log in.</p>
{% endif %}
<hr>
<center>
<table class="table table-striped table-hover " style="width:70%">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>

{% for points, user in user_points %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><h4>{{ user }}</h4></td>
      <td><h4>{{ points }}</h4></td>
    </tr>
{% endfor %}
</tbody>
    </table>
</center>
{% endblock %}

